{% extends "list_base.html" %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <!-- TODO:change href links accordingly -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ request.view_args.cat }}</li>
    </ol>
</nav>
{% endblock breadcrumb %}

{% set view = 'category_list' %}
{% block pagination_prev %}
{{ url_for(view, cat=request.view_args.cat, page_num=page-1) }}
{% endblock pagination_prev %}

{% block pagination_next %}
{{ url_for(view, cat=request.view_args.cat, page_num=page+1) }}
{% endblock pagination_next %}

{% block page1 %}{{ url_for(view, cat=request.view_args.cat, page_num=iter) }}{% endblock %}
{% block page2 %}{{ url_for(view, cat=request.view_args.cat, page_num=iter) }}{% endblock %}
{% block page3 %}{{ url_for(view, cat=request.view_args.cat, page_num=iter) }}{% endblock %}
{% block page4 %}{{ url_for(view, cat=request.view_args.cat, page_num=iter) }}{% endblock %}
{% block page5 %}{{ url_for(view, cat=request.view_args.cat, page_num=iter) }}{% endblock %}
{% block page6 %}{{ url_for(view, cat=request.view_args.cat, page_num=iter) }}{% endblock %}
{% block page7 %}{{ url_for(view, cat=request.view_args.cat, page_num=iter) }}{% endblock %}
{% block page8 %}{{ url_for(view, cat=request.view_args.cat, page_num=iter) }}{% endblock %}

