{% extends "list_base.html" %}

{% set view = 'search_paginated' %}

{% if request.view_args.search_query %}
{% set query = request.view_args.search_query %}
{% else %}
{% set query = request.args.get('search_query') %}
{% endif %}

{% block title %}
{{ query }} - RARBG DB viewer
{% endblock title %}

{% block pagination_prev %}
{{ url_for(view, search_query=query, page_num=page-1) }}
{% endblock pagination_prev %}

{% block pagination_next %}
{{ url_for(view, search_query=query, page_num=page+1) }}
{% endblock pagination_next %}

{% block page1 %}{{ url_for(view, search_query=query, page_num=iter) }}{% endblock %}
{% block page2 %}{{ url_for(view, search_query=query, page_num=iter) }}{% endblock %}
{% block page3 %}{{ url_for(view, search_query=query, page_num=iter) }}{% endblock %}
{% block page4 %}{{ url_for(view, search_query=query, page_num=iter) }}{% endblock %}
{% block page5 %}{{ url_for(view, search_query=query, page_num=iter) }}{% endblock %}
{% block page6 %}{{ url_for(view, search_query=query, page_num=iter) }}{% endblock %}
{% block page7 %}{{ url_for(view, search_query=query, page_num=iter) }}{% endblock %}
{% block page8 %}{{ url_for(view, search_query=query, page_num=iter) }}{% endblock %}

